.atom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 5px;
  }
}