.atom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent !important;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}