.atom-text{
  color: white;
  &-title{
    font-size: 70px;
    font-weight: bolder;
  }

  &-subtitle{
    font-size: 18px;
    font-weight: bold;
  }

  &-paragraph{
    font-size: 14px;
    font-weight: normal;
    color: #B39DD2;
  }

  &-center{
    text-align: center;
  }
}