.atom-text{
  &-title{
    font-size: 20px;
    font-weight: bolder;
  }

  &-subtitle{
    font-size: 18px;
    font-weight: bold;

  }

  &-paragraph{
    font-size: 14px;
    font-weight: normal;
  }
}