.molecule-button{
  cursor: pointer;
  border: 2px solid transparent !important;
  transition: 0.5s;
  box-sizing: border-box;

  &:hover {
    border: 2px solid white !important;
  }

  &-noborder {
    &:hover {
      border: 2px solid transparent !important;
    }
  }
}