.molecule-button{
  cursor: pointer;

  &:hover {
    filter: blur(1px);
  }

  &-nav{
    position: relative;
    &:after{
      content: "";
      width: 0%;
      position: absolute;
      height: 2px;
      background-color: red;
      transition: 0.3s;
    }

    &:hover:after{
      width: 100%;
    }
  }

  &-normal{
    border: 2px solid #A63738;
    border-radius: 4px;
    padding: 5px 40px 5px 40px;
  }

  &-connect{
    border: 2px solid red;
    border-radius: 5px;
    padding: 4px 30px;
    transition: 0.5s;
    background-color: transparent;

    &:hover{
      background-color: red;
    }
  }
}