.molecule-switch {
  display: flex;
  align-items: center;
  background-color: green;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: red;
  }

  &__slider {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0px;
    bottom: 0px;
    background-color: black;
    transition: 0.4s;
  }
}
