.molecule-switch {
  display: flex;
  align-items: center;
  background-color: green;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &__item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  &__slider{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0px;
    bottom: 0px;
    background-color: black;
    transition: 0.4s;
    // border-radius: 25px;
  }

  // &-large {
  //   padding: 5px 15px;
  // }

  // &-normal {
  //   padding: 2px 2px;
  // }

  // &__item {
  //   transition: .5s;
  //   background-color: gray;
  //   border-radius: 10px;
    
  //   &-selected {
  //     background-color: black;
  //   }
  // }
}