.molecule-tokenpair {
  justify-content: center !important;
  background-color: transparent;
  position: absolute;
  width: 100%;

  &__token1 {
    margin-right: 0px;
  }

  &__token2 {
    margin-left: -10px;
  }
}