.page-home {
  background-color: #642C46;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    div{
      height: 100px;
      background-color: red;
    }
  }
}