.page-home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px;
  
  &__lending-pools {
    &__header {
      display: flex;
      justify-content: space-between;
      padding: 0% 18%;
      align-items: center;
    }

    // &__card-table{
    //   padding: 0% 18%;
    //   padding-top: 50px;
    //   display: none;

    //   &__header {
    //     display: flex;
    //     justify-content: space-between;
    //   }
    // }
  
    &__card-view{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      padding: 0% 18%;
      padding-top: 50px;
    }
  }
}