.organism-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #642C46;
  padding: 40px;
  &__nav{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}