.organism-lendingpoolcard {
  transition: 0.3s;
  cursor: pointer;
  border-color: grey;
  box-shadow: 0px 0px 0px #2af1ff;
  position: relative;

  &:hover {
    border-color: #2af1ff;
    box-shadow: 0px 0px 200px #2af1ff;
  }
}
